.advantage {
  min-height: 329px;
  width: 31.67%;
  margin: 0;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid  rgba(2, 102, 193, 0.10);

  @include vp-1199 {
    width: 48%;
    min-height: 272px;
    padding: 30px 20px;
    height: min-content;
  }

  @include vp-767 {
    width: 100%;
    min-height: 242px;
    padding: 19px 10px;
  }
}

.advantage:nth-child(5) {
  @include vp-1199 {
    order: -1;
  }
}

.advantage svg {
  margin-bottom: 29px;

  @include vp-1199 {
    width: 48px;
    height: 48px;
    margin-bottom: 26px;
  }

  @include vp-767 {
    width: 42px;
    height: 42px;
    // margin-bottom: ;
  }
}

.advantage h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 15px;

  @media (min-width: 1200px) and (max-width: 1440px) {
      font-size: calc(14px + (18 - 14) * ( (100vw - 1200px) / ( 1440 - 1200) ));
    }

    @include vp-1199 {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      text-align: center;
    }

    @include vp-767 {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 14px;
    }
  }

.advantage p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;

  @include vp-1199 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
}