.hero-slider {
  position: relative;
  width: 100%;
  min-height: 800px;
  color: $color-default-white;
  z-index: 2;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero-slider__img {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  @include vp-1199 {
    min-width: 768px;
    min-height: 1024px;
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 568px;
  }
}

.hero-slider__container {
  position: relative;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 182px 8.3% 40px 8.3%;
  z-index: 1000000;

  @include vp-1199 {
    min-width: 768px;
    flex-direction: column;
    align-items: center;
    padding: 174px 45px 0 45px;
  }

  @include vp-767 {
    min-width: 320px;
    padding: 139px 15px 0 15px;
  }
}

.hero-slider__text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1111;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }
}

.hero-slider__text h1 {
  position: relative;
  max-width: 944px;
  margin: 0 0 23px 0;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  z-index: 3;

  @include vp-1199 {
    width: 670px;
    margin-bottom: 13px;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
  }

  @include vp-767 {
    width: 290px;
    margin-bottom: 14.5px;
    font-size: 30px;
    line-height: 30px;
  }
}

.hero-slider__text br {
  @include vp-767 {
    display: none;
  }
}


.hero-slider__text > p {
  width: 49.13%;
  margin: 0 0 37px 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1199 {
    width: 462px;
    margin-bottom: 26px;
    text-align: center;
  }

  @include vp-767 {
    width: 290px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}

.hero-slider__text > .hero-slider__description--first {
  width: 423px;

  @include vp-1199 {
    width: 423px;
  }

  @include vp-767 {
    width: 290px;
  }
}

.swiper-slide-active .hero-slider__container {
  display: block;
}

.hero-slider__text a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.4%;
  min-height: 58px;
  padding: 10px 21px;
  margin-bottom: 151px;
  background-color: $color-navy-blue;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: $color-default-white;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 1px solid $color-resolution-blue;
    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
    color: $color-resolution-blue;
  }

  &:active {
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }

  @include vp-1199 {
    width: 30.5%;
    margin-bottom: 34px;
  }

  @include vp-767 {
    width: 62%;
    min-height: 52px;
    margin-bottom: 34px;
  }
}

.hero-slider__features {
  @include vp-1199 {
    display: none;
  }
}

.hero-slider__features span {
  display: inline-block;
  max-width: 186px;
  padding: 14px 20px 13px 20px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid $color-default-white;
}

.hero-slider__features span:not(:last-child) {
  margin-right: 5px;
}

.hero-slider__features svg {
  margin-right: 8px;
}

.hero-slider__video {
  position: absolute;
  bottom: 164px;
  right: 6.7%;
  width: 36.6%;
  height: auto;

  @include vp-1199 {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    justify-self: center;
    min-width: 442px;
    min-height: 300px;
    margin-bottom: 200px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-slider__photo {
  position: absolute;
  bottom: 80px;
  right: 0;
  max-width: 410px;
  width: 100%;
  min-height: 459px;

  @include vp-1199 {
    position: relative;
    top: 0;
    left: 0;
    min-width: 442px;
    min-height: 356px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-slider__picture1 {
  display: block;

  @include vp-1199 {
    display: none;
  }
}

.hero-slider__picture2 {
  display: none;

  @include vp-1199 {
    display: block;
    object-fit: cover;
  }
}

.hero-slider__audio {
  position: absolute;
  bottom: 223px;
  right: 0;
  width: 340px;
  height: 220px;
  z-index: 0;

  @include vp-1199 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 35px;
    width: 340px;
    height: 220px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-slider__audio iframe {
  width: 100%;
  height: 100%;
}

