.hero {
  background-color: $color-default-elephant;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin-right: 11.9px;

  @include vp-767 {
    margin-right: 8px;
  }
}

.swiper--1 .hero__pagination {
  position: absolute;
  content: "";
  width: 100px;
  height: 10px;
  top: 85.8%;
  left: 87.2%;
  z-index: 55555;

  @include vp-1199 {
    top: 89.5%;
    left: 45.5%;
  }

  @include vp-767 {
    top: 90%;
    left: 41.3%;
    width: 70px;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: transparent;
  border:1px solid $color-default-white;
  margin-right: 18px;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background: $color-default-white;
}
