
.nav__toggle {
  display: none;

  @include vp-1199 {
    width: 3.83%;
    display: block;
    position: relative;
    height: 26px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
}

.nav--closed .nav__toggle::before {
  @include vp-1199 {
      content: " ";
      position: absolute;
      bottom: 190%;
      left: 0;
      width: 26px;
      height: 26px;
      background-image: url("../img/sprite/menu.svg");
      background-size: 26px 26px;
  }

  @include vp-767 {
    bottom: 215%;
  }
}


.nav--opened .nav__toggle::before {
  @include vp-1199 {
    content: " ";
    position: absolute;
    top: -150%;
    left: -1px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    background-image: url("../img/sprite/cross.svg");
    background-size: 22px 22px;
    z-index: 5555555;
  }

  @include vp-767 {
    top: -215%;
 }
}

.nav--closed .nav__wrapper ul {
  @include vp-1199 {
  display: none;
  }
}

.nav__wrapper ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 16.9%;
  align-items: center;
  column-gap: 4.6%;
}

.nav--opened .nav__wrapper ul {
  @include vp-1199 {
    width: 100%;
    margin: 0;
    padding-top: 15px;
    color: $color-default-elephant;
    background-color: $color-default-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

  @include vp-767 {
    margin-top: -5px;
    padding-top: 0;
  }
}

.nav__wrapper ul li a {
  margin-right: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $color-default-white;

  @include vp-1199 {
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: $color-default-elephant;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }
}


.nav--opened .nav__wrapper ul li {
  @include vp-1199 {
    margin-bottom: 18px;
  }

  @include vp-767 {
    margin-bottom: 12.5px;
  }
}

.nav--nojs {
  @include vp-1199 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.nav--nojs .nav__toggle {
  @include vp-1199 {
    display: none;
  }
}

.nav--nojs .nav__wrapper ul li a {
  @include vp-1199 {
    display: block;
    width: 100%;
    padding: 0 auto;
    text-align: center;
  }
}

.nav--nojs .nav__wrapper ul {
  @include vp-1199 {
    justify-content: end;
  }
}
