.photogallery-slide {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5.19px;
  overflow: hidden;
  height: auto;
  width: auto!important;

  @include vp-767 {
    row-gap: 3.6px;
  }
}

.photogallery-slide:nth-child(1),
.photogallery-slide:nth-child(3),
.photogallery-slide:nth-child(5),
.photogallery-slide:nth-child(7) {
  @include vp-767 {
    width: 159px!important;
  }
}


.photogallery-slide:nth-child(2),
.photogallery-slide:nth-child(4),
.photogallery-slide:nth-child(6),
.photogallery-slide:nth-child(8) {
  @include vp-767 {
    width: 172px!important;
  }
}

// .photogallery-slide img {
//   @include vp-767 {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//   }
// }

