.slider-state:hover,
.slider-state:focus-visible {
  background-color: $color-default-white;
  border: 1px solid  $color-resolution-blue;
}

.slider-state:hover svg,
.slider-state:focus-visible svg {
  stroke-width: 0.5px;
  stroke: $color-resolution-blue;
}

.slider-state:active {
  background-color: $color-resolution-blue;
}

.slider-state:active svg {
  stroke-width: 0.5px;
  stroke: $color-default-white;
}

.slider-state:disabled {
  background-color: $color-navy-transparent-btn;
}
