.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  right: 160px;
  left: auto;

  @include vp-1199 {
    right: 86px;
  }

  @include vp-767 {
    right: 55px;
  }
}

.swiper--1 .hero__pagination {
  position: absolute;
  content: "";
  left: 86.35%;
  bottom: 106px;
  width: 100px;
  height: 10px;
  margin: 0;
  z-index: 55544;


  @include vp-1199 {
    left: 44%;
    bottom: 98px;
  }

  @include vp-767 {
    top: 90%;
    left: 39.5%;
    width: 70px;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid $color-default-white;
  margin-right: 18px;
  opacity: 1;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background: $color-default-white;
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 12px;

  @include vp-767 {
    margin-right: 8px;
  }
}


.swiper--4 {
  overflow: visible;
  width: 58.5%;
  margin: 0 auto 0 0;

  @include vp-1199 {
    width: 74.35%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.swiper--5 {
  overflow: visible;
  width: 100%;
  margin: 0 auto 0 0;

  @include vp-1199 {
    width: 74.35%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.swiper--5 .swiper-slide {
  position: relative;
  z-index: 555;
}

.swiper--6 .swiper-wrapper .photogallery-slider {
  height: auto;
}
