.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  right: 40px;
  left: auto;
}

.swiper--4 {
  overflow: visible;
  width: 58.5%;
  margin: 0;
  margin-right: auto;

  @include vp-1199 {
    width: 74.35%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.swiper--5 {
  overflow: visible;
  width: 100%;
  margin: 0;
  margin-right: auto;

  @include vp-1199 {
    width: 74.35%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.swiper--6 .swiper-wrapper .photogallery-slider {
  height: auto;
}