.tours {
  position: relative;
  overflow-x: hidden;
}

.tours__container {
  padding-top: 122px;
  width: 100%;
  overflow: hidden;
}

.tours::after {
  position: absolute;
  content: "";
  top: -2.8%;
  left: 58.2% ;
  width: 602px;
  height: 1364px;
  background-image: url("../img/clouds-big.png");
  background-repeat: no-repeat;
  background-size: 602px 1364px;
}

.tours::before {
  position: absolute;
  content: "";
  top: 77.7%;
  left: 0;
  width: 837px;
  height: 279px;
  background-image: url("../img/clouds-small.png");
  background-repeat: no-repeat;
}


.tours__wrapper {
  width: 100%;
}

.tours__container h2 {
  position: relative;
  margin-bottom: 56px;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
}

.tours__container h2 span {
  position: absolute;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  opacity: 0.03;
  bottom: -5%;
  left: 0;
}