.tours {
  position: relative;
  padding-top: 122px;
  z-index: 0;

  @include vp-1199 {
    padding-top: 83px;
  }

  @include vp-767 {
    padding-top: 68px;
  }
}

.tours__container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;

  @include vp-1199 {
    width: 678px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.tours__container a {
  position: relative;
  display: block;
  margin: 0 auto 20px auto;
  width: 220px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 2;

  &:hover,
  &:focus {
    color: $color-resolution-blue;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: $color-navy-transparent-btn;
  }

  @include vp-767 {
    width: 190px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.tours__container a svg {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 9px;
  height: 16px;
  stroke: $color-default-elephant;
}

.tours__container a:hover svg,
.tours__container a:focus svg {
  stroke: $color-resolution-blue;
}

.tours__container a:active svg {
  stroke: $color-navy-blue;
}

.tours__container a:disabled svg {
  stroke: $color-navy-transparent-btn;
}

.tours__swiper {
  margin-bottom: 52px;

  @include vp-1199 {
    padding: 0 6px;
    margin-bottom: 50px;
  };

  @include vp-767 {
    padding: 0;
    margin-bottom: 28px;
  }
}

.tours::after {
  position: absolute;
  content: "";
  top: -2.8%;
  left: 58.2% ;
  width: 602px;
  height: 1364px;
  background: url("../img/clouds-big.png");
  background-repeat: no-repeat;
  background-size: 602px 1364px;
  z-index: 0;
}

.tours::before {
  position: absolute;
  content: "";
  top: 77.7%;
  left: 0;
  width: 837px;
  height: 279px;
  background-image: url("../img/clouds-small.png");
  background-repeat: no-repeat;
  z-index: 0;
}


.tours__wrapper {
  width: 100%;
}

.tours__container h2 {
  position: relative;
  margin-bottom: 56px;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-1199 {
    padding-top: 5px;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 44px;
  }

  @include vp-767 {
    width: 156px;
    font-size: 22px;
    line-height: 22px;
    padding-top: 0;
    margin-bottom: 27px;
  }
}

.tours__container h2 span {
  position: absolute;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  opacity: 0.03;
  bottom: -15%;
  left: 0;

  @include vp-1199 {
    font-size: 40px;
    line-height: 40px;
  }

  @include vp-767 {
    width: 256px;
    font-size: 26px;
    line-height: 26px;
    bottom: 45%;
  }
}

.tours__swiper-next {
  position: absolute;
  content: "";
  top: 3.8%;
  right: 0;
  width: 37px;
  height: 37px;
  background-color: $color-navy-blue;
  z-index: 22222222;

  @include vp-1199 {
    top: 3.5%;
    width: 37.5px;
  }
}

.tours__swiper-next svg {
  transform: rotate(180deg);
}

.tours__swiper-prev {
  position: absolute;
  content: "";
  top: 3.8%;
  width: 37px;
  height: 37px;
  background-color: $color-navy-blue;
  z-index: 22222222;

  @include vp-1199 {
    top: 3.5%;
  }
}