.video__button {
  position: absolute;
  content: "";
  top: 34%;
  left: 39.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 5;

  &:hover .video__svg circle,
  &:focus .video__svg circle {
    stroke: $color-resolution-blue;
    fill-opacity: 0;
  }

  &:hover .video__svg path,
  &:focus .video__svg path {
    stroke: $color-default-elephant;
  }

  &:active .video__svg circle {
    fill: $color-resolution-blue;
    stroke: none;
    fill-opacity: 1;
  }

  &:active .video__svg path {
    stroke: none;
  }
}

.video__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
  z-index: 0;

  @include vp-1199 {
    object-fit: cover;
    min-width: 442px;
    min-height: 300px;
  }
}

.video__wrapper {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 60%;
  z-index: 5;

  @include vp-1199 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 69%;
  }
}

.video__wrapper iframe {
  position: absolute;
  max-width: 482px;
  max-height: 317px;
  width: 100%;
  height: 100%;
}
